<div class="mb-4 font-bold">Articles:</div>
<table>
  <tr>
    <th>Title</th>
    <th>Date</th>
    <th>Visits Count</th>
  </tr>
<% @articles.each do |article| %>
  <% if article.published? %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.created_at.strftime("%Y-%m-%d") %></td>
      <td><%= article.visits_count %></td>
    </tr>
  <% end %>
<% end %>
</table>
